@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmWUlvAw.ttf) format('truetype');
}
html {
  font-size: 10px;
}
body {
  font-family: 'Roboto_reg', sans-serif;
  font-weight: 400;
}
/*colors*/
section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.button {
  font-family: 'Roboto_bold', sans-serif;
  font-weight: 700;
  background-color: #ffbb01;
  outline: none;
  border: none;
  font-size: 1.2rem;
  padding: 2.4rem 4.1rem;
  text-transform: uppercase;
  background: -webkit-gradient(linear, left top, left bottom, from(#fdde76), to(#ffbb01));
  background: linear-gradient(180deg, #fdde76 0%, #ffbb01 100%);
  -webkit-box-shadow: 0px 4px 0px #B68500;
          box-shadow: 0px 4px 0px #B68500;
  border-radius: 5px 5px 10px 10px;
}
.button:hover {
  cursor: pointer;
  background: #e69500;
}
.main-soc-link {
  color: #ffbb01;
}
.main {
  padding-bottom: 10rem;
  background-color: #2d3436;
  background-image: linear-gradient(200deg, #2d3436 0%, #000000 74%);
}
.main-header {
  padding: 2rem 3rem;
}
.main-logo {
  margin-left: -2rem;
}
.main-logo-nick {
  color: #ffffff;
  font-size: 2rem;
  display: inline-block;
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
}
.main-soc-box {
  text-align: right;
}
.main-soc-link {
  outline: none;
  font-size: 2.2rem;
  margin-left: 1rem;
}
.main-soc-link:hover {
  outline: none;
  text-decoration: none;
}
.main-content {
  margin-top: 10rem;
}
.main-content h2 {
  font-size: 2.4rem;
  color: #ffbb01;
  margin-bottom: 1.4rem;
}
.main-content h1 {
  font-size: 5rem;
  color: #ffffff;
  margin-bottom: 2rem;
}
.main-content p {
  font-size: 1.6rem;
  color: #ffffff;
  margin-bottom: 3.8rem;
}
.main-hero {
  margin-top: 3rem;
}
.main-hero img {
  border: 7px solid #ffffff;
  text-align: center;
  width: 35rem;
  height: 35rem;
  border-radius: 100rem;
}
.section-header {
  padding-top: 10rem;
  text-align: center;
  padding-bottom: 6.4rem;
}
.section-header h2 {
  font-size: 3.6rem;
  font-family: 'Roboto_bold', sans-serif;
  font-weight: 700;
}
.workWithMe {
  color: #ffffff;
  background-color: #000000;
  padding-bottom: 5rem;
}
.workWithMe-content {
  padding: 2rem 5rem;
}
.workWithMe-content-box {
  max-width: 28rem;
  max-height: 20rem;
  padding: 2rem 2rem;
}
.workWithMe-content-box h3 {
  font-size: 2.4rem;
  margin-top: 2rem;
  font-family: 'Roboto_bold', sans-serif;
  font-weight: 700;
}
.workWithMe-content-box p {
  font-size: 1.4rem;
  margin-top: 1.6rem;
}
.form {
  background: #FFFFFF;
  -webkit-box-shadow: -5px 5px 0px #ffc41d;
          box-shadow: -5px 5px 0px #ffc41d;
  border-radius: 5px;
  color: #000000;
  padding: 2rem 2rem;
  text-align: center;
  width: 380px;
  height: 409px;
}
.form h3 {
  font-family: 'Roboto_bold', sans-serif;
  font-weight: 700;
  padding: 4rem 4rem;
  font-size: 1.8rem;
}
.form-input {
  display: inline-block;
  font-size: 1.6rem;
  margin-bottom: 2.5rem;
  width: 30rem;
  height: 6rem;
  background: #F8F8F8;
  -webkit-box-shadow: inset 0px 3px 10px rgba(199, 199, 199, 0.25);
          box-shadow: inset 0px 3px 10px rgba(199, 199, 199, 0.25);
  border-radius: 5px;
}
.popup {
  display: none ;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup-content {
  position: fixed;
  left: 50%;
  top: 10%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 1rem 2rem;
  text-align: center;
}
.popup-close {
  position: absolute;
  top: -0.5rem;
  right: -2rem;
  width: 4rem;
  text-align: center;
  border: none;
  background-color: transparent;
  font-size: 3rem;
  color: #ffffff;
}
.feedback {
  padding-bottom: 10rem;
  background-color: #2d3436;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#2d3436), color-stop(74%, #000000));
  background-image: linear-gradient(0deg, #2d3436 0%, #000000 74%);
  color: #ffffff;
}
.feedback-btn {
  width: 30rem;
  height: 6rem;
}
.feedback-contacts {
  padding: 2rem 0rem;
  text-align: left;
}
.feedback-contacts h4 {
  font-size: 2.4rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.feedback-contacts a {
  font-size: 1.6rem;
  color: #ffffff;
  outline: none;
}
.feedback-contacts a:hover {
  outline: none;
  text-decoration: none;
  color: #cc8400;
}
.feedback-soc-box {
  text-align: left;
  margin-top: 2rem;
  margin-left: -1rem;
}
.feedback-wrap-link {
  display: inline-block;
  margin-right: 1.5rem;
}
.footer-logo {
  margin-top: 5rem;
  text-align: right;
  float: right;
}
@media (max-width: 1201px) {
  .main-soc-link img {
    width: 3rem;
  }
  .feedback {
    padding-bottom: 0;
  }
  .main-hero {
    -webkit-transform: translateY(5rem);
            transform: translateY(5rem);
  }
  .workWithMe-content-box {
    margin-top: 2rem;
  }
  .footer-logo {
    text-align: center;
    float: none;
    margin-top: 3rem;
  }
}
@media (max-width: 991px) {
  .main {
    text-align: center;
    margin: 0;
    padding: 0;
  }
  .workWithMe-content-box {
    margin-top: 2rem;
  }
  .feedback {
    padding-bottom: 0;
  }
  .feedback-contacts {
    text-align: center;
  }
  .feedback-form {
    text-align: center;
  }
  .feedback-soc-box {
    text-align: center;
  }
  .form {
    width: auto;
    height: 100%;
  }
}
@media (max-width: 767px) {
  .main-header {
    text-align: center;
  }
  .main-soc-box {
    text-align: center;
    margin-left: -2.5rem;
  }
  .workWithMe-content {
    text-align: center;
  }
  .workWithMe-content-box {
    max-width: 40rem;
    max-height: 20rem;
    margin-top: 1rem;
    padding: 2rem 3rem   ;
  }
}
@media (max-width: 550px) {
  .main-hero img {
    width: 28rem;
    height: 28rem;
  }
  .feedback-btn {
    width: 90%;
    height: auto;
    padding: 2.5rem 1rem;
  }
  .section-header {
    padding-top: 10rem;
    padding-bottom: 5rem;
  }
  .section-header h2 {
    font-size: 3rem;
  }
  .form {
    width: auto;
    height: auto;
  }
  .form h3 {
    padding: 2rem 0;
  }
  .form-input {
    margin-top: 1rem;
    font-size: 1.6rem;
    width: 90%;
    height: auto ;
  }
  .workWithMe-content-box {
    padding: 0;
    margin-top: 2.5rem;
  }
  .popup-content {
    position: fixed;
    left: 50%;
    top: 10%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    padding: 0;
    text-align: center;
    width: 80%;
  }
  .popup-close {
    top: -1.5rem;
    right: -3.5rem;
    width: 3rem;
  }
}
/*h3{
            padding: 2rem 0;
        }
        width: auto;
        height: auto;
        &-input{
            margin-top: 1rem;
            font-size: 1.6rem;
            width: 90%;
            height: auto ;

        }*/
